/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
docker-compose.override.yml
secrets
.idea
logs

src/.phpunit.cache
src/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/storage/pail
src/vendor
src/.env
src/.env.backup
src/.env.production
src/.phpactor.json
src/.phpunit.result.cache
src/Homestead.json
src/Homestead.yaml
src/auth.json
src/npm-debug.log
src/yarn-error.log
src/.fleet
src/.idea
src/.vscode
src/.zed
# Ignorar dados do banco de dados
docker/volumes/db_data/

# Ignorar arquivos de log e cache
storage/logs/
storage/framework/cache/
